master/jade/views/contrato/contrato_form.jade
html
  body
    h3
      a.text-primary(ng-click='contrato.back()') Contrato
      small Gestiona la información de los contratos
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='contrato.save()')
                    span GUARDAR                 
                  button.btn.btn-sm.btn-default(type='button',tooltip='Adjuntos' ng-click='contrato.uploadFile()',ng-show="divParticipanteContrato")
                    span ADJUNTOS                    
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='contrato.agenda()',ng-show="divParticipanteContrato")
                    span AGENDAS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimientos', ng-click='contrato.seguimiento()',ng-show="divParticipanteContrato")
                    span ...  
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Inicial
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaInicial.value", is-open="contrato.fechaInicial.isOpen", datepicker-options="contrato.fechaInicial.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaInicial.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Final
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaFinal.value", is-open="contrato.fechaFinal.isOpen", datepicker-options="contrato.fechaFinal.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaFinal.open($event)')
                          i.fa.fa-calendar 
                .mb-sm.clearfix
                  label.col-md-2.control-label Cliente
                  .col-md-6
                     ui-select(ng-model='tercerosCon.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Cliente') {{$select.selected.tercero}}
                      ui-select-choices(repeat="m in tercerosCon.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']")
                        div(ng-bind-html='m.tercero | highlight: $select.search')
                        small {{m.identificacion}}  
                .mb-sm.clearfix
                  label.col-md-2.control-label Tipo 
                  .col-md-3
                    select.form-control(ng-model='tipoContrato.current', ng-options="tipo.descripcion for tipo in tipoContrato.data | orderBy: 'descripcion'", ng-selected='tipo.Codigo==contrato.model.tipoContratoId', ng-change='tipoContrato.setTipo()')
                  label.col-md-2.control-label Objeto 
                  .col-md-3
                    select.form-control(ng-model='objetoContrato.current', ng-options="objeto.descripcion for objeto in objetoContrato.data | orderBy: 'descripcion'", ng-selected='objeto.Codigo==contrato.model.objetoId', ng-change='objetoContrato.setObjeto()')  
                .mb-sm.clearfix                
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==contrato.model.estado") 
                .mb-sm.clearfix
                 label.col-md-2.control-label Descripción
                 .col-md-6
                    textarea.form-control( ng-model="contrato.model.descripcion")  
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                
                .mb-sm.clearfix
                  label.col-md-2.control-label Longitud
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.longitude', ng-maxlength='80', ng-pattern='longitude')   
                  label.col-md-2.control-label Latitud
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.latitude', ng-maxlength='80', ng-pattern='latitude')   
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaReg.value", is-open="contrato.fechaReg.isOpen", datepicker-options="contrato.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaAct.value", is-open="contrato.fechaAct.isOpen", datepicker-options="contrato.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaAct.open($event)')
                          i.fa.fa-calendar 
    .row(ng-show="divParticipanteContrato")
       .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm                            
                span.lead.md-lg.text-primary Participantes
            .row
              .input-group.m0.col-xs-4.pull-left
                  span.input-group-addon.input-sm
                    em.icon-magnifier
                  input.form-control.input-sm(type='text', ng-model='filtroparticipanteContrato' )
              .col-xs-2
                button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Participante", ng-click='participanteContrato.add()')
                  span: em.icon-plus
                  span Agregar
              .row
                  .form-group.col-sm-12
                    .table-responsive.table-bordered
                      table.table.table-hover.wd-wide
                        thead
                          tr
                           th
                           th NOMBRE                       
                           th CARGO

                         tbody
                           tr(ng-repeat="part in participanteContrato.data | filter: filtroparticipanteContrato | orderBy: 'nombre'")
                            td.wd-xxs
                              button.btn.btn-xs.btn-primary(ng-click="participanteContrato.edit(part)")
                                span.fa.fa-pencil-square-o
                            td {{part.funcionario}}
                            td {{part.cargo}}
                            td
                              em.icon-trash.mr.text-danger(tooltip='Eliminar Participante', tooltip-placement='bottom', ng-click='participanteContrato.delete(part)') 

app/views/contrato/contrato_form.html
<html>

<body>
   <h3><a ng-click="contrato.back()" class="text-primary">Contrato</a>
      <small>Gestiona la información de los contratos</small>
   </h3>
   <div class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <div class="mb-lg clearfix">
                        <button type="button" tooltip="Guardar" ng-click="contrato.save()" class="btn btn-sm btn-primary">
                           <span>GUARDAR</span>
                        </button>
                        <button type="button" tooltip="Adjuntos" ng-click="contrato.uploadFile()" ng-show="divParticipanteContrato" class="btn btn-sm btn-default">
                           <span>ADJUNTOS</span>
                        </button>
                        <button type="button" tooltip="Agendas" ng-click="contrato.agenda()" ng-show="divParticipanteContrato" class="btn btn-sm btn-default">
                           <span>AGENDAS</span>
                        </button>
                        <button type="button" tooltip="Seguimientos" ng-click="contrato.seguimiento()" ng-show="divParticipanteContrato" class="btn btn-sm btn-default">
                           <span>...</span>
                        </button>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Inicial</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaInicial.value" is-open="contrato.fechaInicial.isOpen" datepicker-options="contrato.fechaInicial.dateOptions" readonly="true" show-button-bar="false"
                              class="form-control input-sm" />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Final</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaFinal.value" is-open="contrato.fechaFinal.isOpen" datepicker-options="contrato.fechaFinal.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Cliente</label>
                        <div class="col-md-6">
                           <ui-select ng-model="tercerosCon.current" theme="bootstrap">
                              <ui-select-match placeholder="Seleccione Cliente">{{$select.selected.tercero}}</ui-select-match>
                              <ui-select-choices repeat="m in tercerosCon.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']">
                                 <div ng-bind-html="m.tercero | highlight: $select.search"></div>
                                 <small>{{m.identificacion}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Tipo</label>
                        <div class="col-md-3">
                           <select ng-model="tipoContrato.current" ng-options="tipo.descripcion for tipo in tipoContrato.data | orderBy: 'descripcion'" ng-selected="tipo.Codigo==contrato.model.tipoContratoId" ng-change="tipoContrato.setTipo()" class="form-control"></select>
                        </div>
                        <label class="col-md-2 control-label">Objeto</label>
                        <div class="col-md-3">
                           <select ng-model="objetoContrato.current" ng-options="objeto.descripcion for objeto in objetoContrato.data | orderBy: 'descripcion'" ng-selected="objeto.Codigo==contrato.model.objetoId" ng-change="objetoContrato.setObjeto()" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-3">
                           <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==contrato.model.estado" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Descripción</label>
                        <div class="col-md-6">
                           <textarea ng-model="contrato.model.descripcion" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario Reg</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Usuario Act</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix"></div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Longitud</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.longitude" ng-maxlength="80" ng-pattern="longitude" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Latitud</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.latitude" ng-maxlength="80" ng-pattern="latitude" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Reg</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaReg.value" is-open="contrato.fechaReg.isOpen" datepicker-options="contrato.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Act</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaAct.value" is-open="contrato.fechaAct.isOpen" datepicker-options="contrato.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div ng-show="divParticipanteContrato" class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <span class="lead md-lg text-primary">Participantes</span>
                  </fieldset>
               </div>
               <div class="row">
                  <div class="input-group m0 col-xs-4 pull-left">
                     <span class="input-group-addon input-sm">
                        <em class="icon-magnifier"></em>
                     </span>
                     <input type="text" ng-model="filtroparticipanteContrato" class="form-control input-sm" />
                  </div>
                  <div class="col-xs-2">
                     <button type="button" tooltip="Agregar Participante" ng-click="participanteContrato.add()" class="btn btn-sm btn-primary">
                        <span>
                           <em class="icon-plus"></em>
                        </span>
                        <span>Agregar</span>
                     </button>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-12">
                        <div class="table-responsive table-bordered">
                           <table class="table table-hover wd-wide">
                              <thead>
                                 <tr>
                                    <th></th>
                                    <th>NOMBRE</th>
                                    <th>CARGO</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr ng-repeat="part in participanteContrato.data | filter: filtroparticipanteContrato | orderBy: 'nombre'">
                                    <td class="wd-xxs">
                                       <button ng-click="participanteContrato.edit(part)" class="btn btn-xs btn-primary">
                                          <span class="fa fa-pencil-square-o"></span>
                                       </button>
                                    </td>
                                    <td>{{part.funcionario}}</td>
                                    <td>{{part.cargo}}</td>
                                    <td>
                                       <em tooltip="Eliminar Participante" tooltip-placement="bottom" ng-click="participanteContrato.delete(part)" class="icon-trash mr text-danger"></em>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>
