app/views/contrato/contrato_list.html
<h3>Contratos
   <small>Control de los contratos</small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="contratos.filter()" ng-model="contratos.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="contratos.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.SELECT' | translate }}" ng-click="contratos.selectAll()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-primary icon-check"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.DELETE' | translate }}" ng-click="contratos.remove()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-danger icon-trash"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th></th>
                     <th>CLIENTE</th>
                     <th>CONSECUTIVO</th>
                     <th>FECHA INICIO</th>
                     <th>FECHA FIN</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="contratos.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="contratos.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in contratos.data | orderBy: 'nombre'" ng-class="{true: 'active'}[item.check]">
                     <td class="wd-xxs">
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="item.check" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.consecutivo }}</td>
                     <td>{{ item.fechaInicial | date:'dd/M/yyyy' }}</td>
                     <td>{{ item.fechaFinal | date:'dd/M/yyyy' }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_EJECUCION" class="label label-primary">Ejecución</span>
                        <span ng-if="item.estado == ESTADO_ANULADO" class="label label-default">Anulado</span>
                        <span ng-if="item.estado == ESTADO_CERRADO" class="label label-warning">Cerrado</span>
                        <span ng-if="item.estado == ESTADO_CANCELADO" class="label label-warning">Cancelado</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar tercero" tooltip-placement="bottom" ng-click="contratos.edit(item)" class="icon-pencil mr"></em>
                           <em tooltip="Eliminar contrato" tooltip-placement="bottom" ng-click="contratos.removeItem(item)" class="icon-trash mr text-danger"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="contratos.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="contratos.paginations.totalItems" ng-model="contratos.paginations.currentPage" max-size="contratos.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="contratos.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="contratos.paginations.numPages" ng-change="contratos.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>

master/jade/views/contrato/contrato_list.jade
h3 Contratos
  small Control de los contratos
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='contratos.filter()' ng-model='contratos.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='contratos.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.SELECT' | translate }}", ng-click='contratos.selectAll()')
              span: em.text-primary.icon-check
              span.hidden-xs {{ 'app.SELECT' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.DELETE' | translate }}", ng-click='contratos.remove()')
              span: em.text-danger.icon-trash
              span.hidden-xs  {{ 'app.DELETE' | translate }}
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th
              th CLIENTE  
              th CONSECUTIVO  
              th FECHA INICIO    
              th FECHA FIN    
              th ESTADO                              
              th 
          tbody
            td.height-lg(colspan="5", ng-show="contratos.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="5", ng-show="contratos.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in contratos.data | orderBy: 'nombre'", ng-class="{true: 'active'}[item.check]")
              td.wd-xxs
                .checkbox.c-checkbox.m0
                  label
                    input(type='checkbox',ng-model='item.check')
                    span.fa.fa-check
              td {{ item.tercero }}
              td {{ item.consecutivo }}
              td {{ item.fechaInicial | date:'dd/M/yyyy' }}          
              td {{ item.fechaFinal | date:'dd/M/yyyy' }}              
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_EJECUCION") Ejecución
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_CERRADO") Cerrado
               span.label.label-warning(ng-if="item.estado == ESTADO_CANCELADO") Cancelado              
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar tercero", tooltip-placement='bottom', ng-click='contratos.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar contrato", tooltip-placement='bottom', ng-click='contratos.removeItem(item)')
    .row
      .col-lg-12(ng-hide='contratos.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='contratos.paginations.totalItems',ng-model='contratos.paginations.currentPage',max-size='contratos.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='contratos.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='contratos.paginations.numPages', ng-change='contratos.changePage()', first-text="«", last-text="»")
