master/jade/views/entrega/entrega_list.jade
h3 Entregas
  small 
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='entregas.filter()' ng-model='entregas.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='entregas.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}     
    .panel-body.p0
    
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th ESTADO 
              th CODIGO  
              th CLIENTE  
              th AUTOR  
              th FECHA    
              th CIUDAD                   
              th JORNADA  
                      
          tbody
            td.height-lg(colspan="8", ng-show="entregas.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="entregas.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in entregas.data", ng-class="{true: 'active'}[item.check]")
              td   
               span.label.label-primary(ng-if="item.estado == PROCESO") En Proceso
               span.label.label-warning(ng-if="item.estado == CERRADA") Cerrado               
               
              td {{ item.consecutivo }}
              td {{ item.cliente }}     
              td {{ item.nombreAutor }}     
              td {{ item.fecha | date:'dd/M/yyyy' }}
              td {{ item.nombreCiudad }}   
              td {{ item.jornada }} 
              
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Ver..", tooltip-placement='bottom', ng-click='entregas.edit(item)')
                    
    .row
      .col-lg-12(ng-hide='entregas.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='entregas.paginations.totalItems',ng-model='entregas.paginations.currentPage',max-size='entregas.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='entregas.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='entregas.paginations.numPages', ng-change='entregas.changePage()', first-text="«", last-text="»")

app/views/entrega/entrega_list.html
<h3>Entregas
   <small></small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="entregas.filter()" ng-model="entregas.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="entregas.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>ESTADO</th>
                     <th>CODIGO</th>
                     <th>CLIENTE</th>
                     <th>AUTOR</th>
                     <th>FECHA</th>
                     <th>CIUDAD</th>
                     <th>JORNADA</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="8" ng-show="entregas.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="8" ng-show="entregas.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in entregas.data" ng-class="{true: 'active'}[item.check]">
                     <td>
                        <span ng-if="item.estado == PROCESO" class="label label-primary">En Proceso</span>
                        <span ng-if="item.estado == CERRADA" class="label label-warning">Cerrado</span>
                     </td>
                     <td>{{ item.consecutivo }}</td>
                     <td>{{ item.cliente }}</td>
                     <td>{{ item.nombreAutor }}</td>
                     <td>{{ item.fecha | date:'dd/M/yyyy' }}</td>
                     <td>{{ item.nombreCiudad }}</td>
                     <td>{{ item.jornada }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Ver.." tooltip-placement="bottom" ng-click="entregas.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="entregas.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="entregas.paginations.totalItems" ng-model="entregas.paginations.currentPage" max-size="entregas.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="entregas.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="entregas.paginations.numPages" ng-change="entregas.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>
