app/views/templates/validation_save.html
<div class="ngdialog-message">
   <p class="text-center text-lg mb-xs">
      <em class="fa fa-exclamation-triangle text-warning"></em>
   </p>
   <p class="lead text-center">¡Se ha guardado el registro!</p>
   <p class="text-right">
      <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cerrar</button>
   </p>
</div>

master/jade/views/templates/validation_save.jade
.ngdialog-message
  p.text-center.text-lg.mb-xs
    em.fa.fa-exclamation-triangle.text-warning
  p.lead.text-center ¡Se ha guardado el registro!
  p.text-right
    button.btn.btn-default(type='button', ng-click="closeThisDialog('button')") Cerrar
