app/views/pasajero/pasajero_form.html
<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">PASAJERO
         <a type="button" ng-click="pasajero.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
         <br/>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <tabset justified="true" class="bg-white p0">
      <tab>
         <tab-heading>Información</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Identificación</label>
                  <input ng-model="pasajero.model.identificacion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fecha Nacimiento
                     <div class="input-group">
                        <input type="text" uib-datepicker-popup="MM/dd/yyyy " ng-model="pasajero.fechaNacimiento.value" is-open="pasajero.fechaNacimiento.isOpen" datepicker-options="pasajero.fechaNacimiento.dateOptions" readonly="true" show-button-bar="false"
                        class="form-control input-sm" />
                        <span class="input-group-btn">
                           <button type="button" ng-click="pasajero.fechaNacimiento.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                           </button>
                        </span>
                     </div>
                  </label>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Teléfono</label>
                  <input ng-model="pasajero.model.telefono" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-6">
                  <label class="control-label">Nombre</label>
                  <input ng-model="pasajero.model.nombre" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-6">
                  <label class="control-label">Apellido</label>
                  <input ng-model="pasajero.model.apellido" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="pasajero.model.correo" ng-maxlength="300" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="pasajero.model.movil" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Estado</label>
                  <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==pasajero.model.estado" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12">
                  <label class="control-label">Dirección</label>
                  <textarea ng-model="pasajero.model.direccion" class="form-control"></textarea>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab ng-show="pasajero.model.id!=0">
         <tab-heading>Contactos</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Nombre</label>
                  <input ng-model="contactoPasajero.current.nombre" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Cargo</label>
                  <input ng-model="contactoPasajero.current.cargo" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="contactoPasajero.current.movil" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Teléfono</label>
                  <input ng-model="contactoPasajero.current.telefono" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="contactoPasajero.current.email" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fax</label>
                  <input ng-model="contactoPasajero.current.fax" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Dirección</label>
                  <input ng-model="contactoPasajero.current.direccion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Activo</label>
                  <input type="checkbox" ng-model="contactoPasajero.current.activo" ng-true-value="true" ng-false-value="false" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Observación</label>
                  <textarea ng-model="contactoPasajero.current.observacion" class="form-control"></textarea>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Guardar" ng-click="contactoPasajero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="contactoPasajero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="form-group col-sm-12">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Nombre</th>
                              <th>Teléfono</th>
                              <th>Cargo</th>
                              <th>Email</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="contacto in contactoPasajero.data | filter: filtroContactoTercero | orderBy: 'nombre'">
                              <td class="wd-xxs">
                                 <button ng-click="contactoPasajero.edit(contacto)" class="btn btn-xs btn-primary">
                                    <span class="fa fa-pencil-square-o"></span>
                                 </button>
                              </td>
                              <td>{{contacto.nombre}}</td>
                              <td>{{contacto.telefono}}</td>
                              <td>{{contacto.cargo}}</td>
                              <td>{{contacto.email}}</td>
                              <td>
                                 <em tooltip="Eliminar Contacto" tooltip-placement="bottom" ng-click="contactoPasajero.delete(contacto)" class="icon-trash mr text-danger"></em>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </fieldset>
      </tab>
   </tabset>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="pasajero.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="pasajero.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>

master/jade/views/pasajero/pasajero_form.jade
.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead PASAJERO
    a.pull-right(type="button", ng-click="pasajero.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            .mb-sm.clearfix          
              .col-md-4
                label.control-label Identificación
                input.form-control.input-sm(ng-model='pasajero.model.identificacion',ng-maxlength='80')
              .col-md-4
                label.control-label Fecha Nacimiento
                 .input-group                         
                        input.form-control.input-sm(type="text", uib-datepicker-popup="MM/dd/yyyy ", ng-model="pasajero.fechaNacimiento.value", is-open="pasajero.fechaNacimiento.isOpen", datepicker-options="pasajero.fechaNacimiento.dateOptions", readonly="true",   show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='pasajero.fechaNacimiento.open($event)')
                          i.fa.fa-calendar
              .col-md-4
                label.control-label Teléfono
                input.form-control.input-sm(ng-model='pasajero.model.telefono', ng-maxlength='80') 
            .mb-sm.clearfix 
              .col-md-6
                label.control-label Nombre
                input.form-control.input-sm(ng-model='pasajero.model.nombre', ng-maxlength='80')
              .col-md-6
                label.control-label Apellido
                input.form-control.input-sm(ng-model='pasajero.model.apellido', ng-maxlength='80') 
            .mb-sm.clearfix     
              .col-md-4
                label.control-label Email
                input.form-control.input-sm(ng-model='pasajero.model.correo', ng-maxlength='300')           
              .col-md-4
                label.control-label Móvil
                input.form-control.input-sm(ng-model='pasajero.model.movil', ng-maxlength='80')     
              .col-md-4
                label.control-label Estado
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==pasajero.model.estado") 
            .mb-sm.clearfix      
              .col-md-12
                label.control-label Dirección
                textarea.form-control( ng-model="pasajero.model.direccion")             
      
     tab(ng-show="pasajero.model.id!=0")
       tab-heading Contactos
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Nombre
            input.form-control.input-sm(ng-model='contactoPasajero.current.nombre',ng-maxlength='80')
          .col-md-4
            label.control-label Cargo
            input.form-control.input-sm(ng-model='contactoPasajero.current.cargo', ng-maxlength='80') 
          .col-md-4
            label.control-label Móvil
            input.form-control.input-sm(ng-model='contactoPasajero.current.movil', ng-maxlength='80') 
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Teléfono
            input.form-control.input-sm(ng-model='contactoPasajero.current.telefono',ng-maxlength='80')
          .col-md-4
            label.control-label Email
            input.form-control.input-sm(ng-model='contactoPasajero.current.email', ng-maxlength='80') 
          .col-md-4
            label.control-label Fax
            input.form-control.input-sm(ng-model='contactoPasajero.current.fax', ng-maxlength='80') 
        .mb-sm.clearfix 
          .col-md-8
            label.control-label Dirección
            input.form-control.input-sm(ng-model='contactoPasajero.current.direccion', ng-maxlength='80')         
           .col-md-4
            label.control-label Activo
            input(type='checkbox', ng-model='contactoPasajero.current.activo', ng-true-value="true", ng-false-value="false")
        .mb-sm.clearfix      
          .col-md-8
            label.control-label Observación
            textarea.form-control( ng-model="contactoPasajero.current.observacion")  
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="contactoPasajero.save()")
                span Guardar
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="contactoPasajero.cancel()")
                span Cancelar   
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Nombre
                   th Teléfono
                   th Cargo
                   th Email                       
                 tbody
                   tr(ng-repeat="contacto in contactoPasajero.data | filter: filtroContactoTercero | orderBy: 'nombre'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="contactoPasajero.edit(contacto)")
                        span.fa.fa-pencil-square-o
                    td {{contacto.nombre}}
                    td {{contacto.telefono}}
                    td {{contacto.cargo}}
                    td {{contacto.email}}
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar Contacto', tooltip-placement='bottom', ng-click='contactoPasajero.delete(contacto)') 
            
    
        
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="pasajero.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="pasajero.close()")
    span CANCELAR
