master/jade/views/oportunidad/oportunidad_form.jade
.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Crear Tercero
    a.pull-right(type="button", ng-click="oportunidad.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-1.control-label Identificación:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='oportunidad.model.identificacion', ng-maxlength='80')
    .mb-sm.clearfix
      label.col-md-1.control-label Nombre:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='oportunidad.model.nombre') 
    .mb-sm.clearfix
      label.col-md-1.control-label Dirección:
    .mb-sm.clearfix
      .col-md-12        
        textarea.form-control( ng-model="oportunidad.model.direccion")
    .mb-sm.clearfix
      label.col-md-1.control-label Teléfono:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='oportunidad.model.telefono')
    .mb-sm.clearfix
      label.col-md-1.control-label Contacto:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='oportunidad.model.nombreContacto')
    .mb-sm.clearfix
      label.col-md-1.control-label Teléfono:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='oportunidad.model.telefonoContacto')
    .mb-sm.clearfix
      label.col-md-3.control-label Cargo :
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='oportunidad.model.cargoContacto')
        
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="oportunidad.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="oportunidad.close()")
    span CANCELAR

app/views/oportunidad/oportunidad_form.html
<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Crear Tercero</label>
      <a type="button" ng-click="oportunidad.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Identificación:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="oportunidad.model.identificacion" ng-maxlength="80" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Nombre:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="oportunidad.model.nombre" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Dirección:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <textarea ng-model="oportunidad.model.direccion" class="form-control"></textarea>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Teléfono:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="oportunidad.model.telefono" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Contacto:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="oportunidad.model.nombreContacto" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Teléfono:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="oportunidad.model.telefonoContacto" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-3 control-label">Cargo :</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="oportunidad.model.cargoContacto" class="form-control input-sm" />
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="oportunidad.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="oportunidad.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>
