app/views/consecutivo/consecutivo_list.html
<h3>Consecutivo
   <small>Control de los consecutivo</small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Tipo:</label>
            <div class="col-md-5">
               <select ng-model="tipoConsecutivo.current" ng-options="item.nombre for item in tipoConsecutivo.data" ng-change="consecutivos.getData()" class="form-control"></select>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="consecutivos.filter()" ng-model="consecutivos.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="consecutivos.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.SELECT' | translate }}" ng-click="consecutivos.selectAll()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-primary icon-check"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.DELETE' | translate }}" ng-click="consecutivos.remove()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-danger icon-trash"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th></th>
                     <th>CONSECUTIVO</th>
                     <th>FECHA</th>
                     <th>CLIENTE</th>
                     <th>DESCRIPCION</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="consecutivos.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="consecutivos.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in consecutivos.data " ng-class="{true: 'active'}[item.check]">
                     <td class="wd-xxs">
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="item.check" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>{{ item.codigo }}</td>
                     <td>{{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.descripcion }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_PROCESO" class="label label-primary">Proceso</span>
                        <span ng-if="item.estado == ESTADO_ANULADO" class="label label-default">Anulado</span>
                        <span ng-if="item.estado == ESTADO_APROBADO" class="label label-warning">Aprobado</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar tercero" tooltip-placement="bottom" ng-click="consecutivos.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="consecutivos.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="consecutivos.paginations.totalItems" ng-model="consecutivos.paginations.currentPage" max-size="consecutivos.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="consecutivos.paginations.itemsPerPage"
            previous-text="‹" next-text="›" num-pages="consecutivos.paginations.numPages" ng-change="consecutivos.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>

master/jade/views/consecutivo/consecutivo_list.jade
h3 Consecutivo
  small Control de los consecutivo
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Tipo:
        .col-md-5
          select.form-control(ng-model='tipoConsecutivo.current', ng-options='item.nombre for item in tipoConsecutivo.data', ng-change="consecutivos.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='consecutivos.filter()' ng-model='consecutivos.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='consecutivos.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.SELECT' | translate }}", ng-click='consecutivos.selectAll()')
              span: em.text-primary.icon-check
              span.hidden-xs {{ 'app.SELECT' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.DELETE' | translate }}", ng-click='consecutivos.remove()')
              span: em.text-danger.icon-trash
              span.hidden-xs  {{ 'app.DELETE' | translate }}
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th
              th CONSECUTIVO  
              th FECHA  
              th CLIENTE                
              th DESCRIPCION
              th ESTADO                              
              th 
          tbody
            td.height-lg(colspan="5", ng-show="consecutivos.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="5", ng-show="consecutivos.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in consecutivos.data ", ng-class="{true: 'active'}[item.check]")
              td.wd-xxs
                .checkbox.c-checkbox.m0
                  label
                    input(type='checkbox',ng-model='item.check')
                    span.fa.fa-check
              td {{ item.codigo }}
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.tercero }}              
              td {{ item.descripcion  }}                   
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_PROCESO") Proceso
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_APROBADO") Aprobado                      
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar tercero", tooltip-placement='bottom', ng-click='consecutivos.edit(item)')
                    
    .row
      .col-lg-12(ng-hide='consecutivos.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='consecutivos.paginations.totalItems',ng-model='consecutivos.paginations.currentPage',max-size='consecutivos.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='consecutivos.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='consecutivos.paginations.numPages', ng-change='consecutivos.changePage()', first-text="«", last-text="»")
