app/views/trm/trm_list.html
<h3>Trm
   <small></small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-3 col-sm-3 pull-right">
               <input type="number" ng-model="trms.model.trm" ng-maxlength="10" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="trms.getData()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-note"></em>
                     </span>
                     <span class="hidden-xs">Actualizar</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="trms.filter()" ng-model="trms.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.SEARCH' | translate }}" ng-click="trms.getData()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-reload"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SEARCH' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>FECHA</th>
                     <th>TRM ANTERIOR</th>
                     <th>TRM</th>
                     <th>RESPONSABLE</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="8" ng-show="trms.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="8" ng-show="trms.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in trms.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.fecha | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.trmAnterior }}</td>
                     <td>{{ item.trm }}</td>
                     <td>{{ item.responsable }}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="trms.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="trms.paginations.totalItems" ng-model="trms.paginations.currentPage" max-size="trms.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="trms.paginations.itemsPerPage" previous-text="‹" next-text="›"
            num-pages="trms.paginations.numPages" ng-change="trms.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>

master/jade/views/trm/trm_list.jade
h3 Trm
  small          
.row
  .panel
    .panel-heading   
     .row
        .input-group.m0.col-xs-3.col-sm-3.pull-right                      
          input.form-control.input-sm(type='number' ng-model='trms.model.trm'  ng-maxlength='10' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
             button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='trms.getData()')
              span: em.icon-note
              span.hidden-xs Actualizar   
              
.row
  .panel
    .panel-heading   
     .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='trms.filter()' ng-model='trms.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
             button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.SEARCH' | translate }}", ng-click='trms.getData()')
              span: em.icon-reload
              span.hidden-xs {{ 'app.SEARCH' | translate }}
    .panel-body.p0
    
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr               
              th FECHA                   
              th TRM ANTERIOR  
              th TRM   
              th RESPONSABLE                
          tbody
            td.height-lg(colspan="8", ng-show="trms.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="trms.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in trms.data", ng-class="{true: 'active'}[item.check]")
              td {{ item.fecha | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.trmAnterior }}   
              td {{ item.trm }} 
              td {{ item.responsable }}   
    .row
      .col-lg-12(ng-hide='trms.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='trms.paginations.totalItems',ng-model='trms.paginations.currentPage',max-size='trms.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='trms.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='trms.paginations.numPages', ng-change='trms.changePage()', first-text="«", last-text="»")
