app/views/tercero/tercero_form.html
<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">CLIENTE
         <a type="button" ng-click="tercero.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
         <br/>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <tabset justified="true" class="bg-white p0">
      <tab>
         <tab-heading>Información</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Identificación</label>
                  <input ng-model="tercero.model.identificacion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Teléfono</label>
                  <input ng-model="tercero.model.telefono" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Estado</label>
                  <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==tercero.model.estado" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="tercero.model.email" ng-maxlength="300" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="tercero.model.movil" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo</label>
                  <select ng-model="tipos.current" ng-options="item.descripcion for item in tipos.data" ng-selected="tipos.current.value==tercero.model.tipo" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Sitio Web</label>
                  <input ng-model="tercero.model.sitioWeb" ng-maxlength="80" ng-pattern="identificacion" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fax</label>
                  <input ng-model="tercero.model.fax" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo Empresas</label>
                  <select ng-model="tipoEmpresas.current" ng-options="item.descripcion for item in tipoEmpresas.data" ng-selected="tipoEmpresas.current.value==tercero.model.tipoEmpresa" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Nombre</label>
                  <input ng-model="tercero.model.nombre" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Moneda</label>
                  <select ng-model="monedas.current" ng-options="item.descripcion for item in monedas.data" ng-selected="monedas.current.value==tercero.model.moneda" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Nombre Comercial</label>
                  <input ng-model="tercero.model.nombreComercial" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Clasificación</label>
                  <select ng-model="clasificaciones.current" ng-options="item.descripcion for item in clasificaciones.data" ng-selected="clasificaciones.current.value==tercero.model.clasificacion" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Dirección</label>
                  <textarea ng-model="tercero.model.direccion" class="form-control"></textarea>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Sexo</label>
                  <select ng-model="sexos.current" ng-options="item.descripcion for item in sexos.data" ng-selected="sexos.current.value==tercero.model.sexo" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Representante</label>
                  <input ng-model="tercero.model.representante" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Comisión</label>
                  <input ng-model="tercero.model.comision" ui-number-mask="2" ng-maxlength="5" class="form-control input-sm" />
               </div>
            </div>
         </fieldset>
      </tab>
      <tab ng-show="tercero.model.id!=0">
         <tab-heading>Contactos</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Nombre</label>
                  <input ng-model="contactoTercero.current.nombre" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Cargo</label>
                  <input ng-model="contactoTercero.current.cargo" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="contactoTercero.current.movil" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Teléfono</label>
                  <input ng-model="contactoTercero.current.telefono" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="contactoTercero.current.email" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fax</label>
                  <input ng-model="contactoTercero.current.fax" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Dirección</label>
                  <input ng-model="contactoTercero.current.direccion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Usuario</label>
                  <input ng-model="contactoTercero.current.usuario" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Observación</label>
                  <textarea ng-model="contactoTercero.current.observacion" class="form-control"></textarea>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Contraseña</label>
                  <input ng-model="contactoTercero.current.contrasenia" ng-maxlength="80" class="form-control input-sm" />
                  <label class="control-label">Contraseña Tmp</label>
                  <input ng-model="contactoTercero.current.contraseniaTmp" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-2">
                  <label class="control-label">Comisión</label>
                  <input type="checkbox" ng-model="contactoTercero.current.comision" ng-true-value="true" ng-false-value="false" />
               </div>
               <div class="col-md-2">
                  <label class="control-label">Cotización</label>
                  <input type="checkbox" ng-model="contactoTercero.current.cotizacion" ng-true-value="true" ng-false-value="false" />
               </div>
               <div class="col-md-2">
                  <label class="control-label">Activo</label>
                  <input type="checkbox" ng-model="contactoTercero.current.activo" ng-true-value="true" ng-false-value="false" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Guardar" ng-click="contactoTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="contactoTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="form-group col-sm-12">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Nombre</th>
                              <th>Teléfono</th>
                              <th>Cargo</th>
                              <th>Email</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="contacto in contactoTercero.data | filter: filtroContactoTercero | orderBy: 'nombre'">
                              <td class="wd-xxs">
                                 <button ng-click="contactoTercero.edit(contacto)" class="btn btn-xs btn-primary">
                                    <span class="fa fa-pencil-square-o"></span>
                                 </button>
                              </td>
                              <td>{{contacto.nombre}}</td>
                              <td>{{contacto.telefono}}</td>
                              <td>{{contacto.cargo}}</td>
                              <td>{{contacto.email}}</td>
                              <td>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="contactoTercero.delete(contacto)" class="icon-trash mr text-danger"></em>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab ng-show="tercero.model.tipoEmpresa=='8'">
         <tab-heading>Referidos</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Intermediario</label>
                  <input ng-model="referidoTercero.current.tercero" ng-maxlength="80" disabled="disabled" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Porcentaje</label>
                  <input type="text" ng-model="referidoTercero.current.porcentaje" ui-number-mask="2" min="0" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <button type="button" tooltip="Buscar" ng-click="referidoTercero.buscar()" class="btn btn-primary">
                     <span>Buscar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Agregar" ng-click="referidoTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="referidoTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="form-group col-sm-12">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Intermediario</th>
                              <th>Porcentaje</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="referido in referidoTercero.data | filter: filtroReferidoTercero | orderBy: 'Intermediario'">
                              <td class="wd-xxs">
                                 <button ng-click="referidoTercero.edit(referido)" class="btn btn-xs btn-primary">
                                    <span class="fa fa-pencil-square-o"></span>
                                 </button>
                              </td>
                              <td>{{referido.tercero}}</td>
                              <td>{{referido.porcentaje}}</td>
                              <td>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="referidoTercero.delete(referido)" class="icon-trash mr text-danger"></em>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab ng-show="tercero.model.tipoEmpresa=='8'">
         <tab-heading>Comisiones</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Aseguradora</label>
                  <select ng-model="aseguradora.current" ng-options="aseg.tercero for aseg in aseguradora.data | orderBy: 'tercero'" ng-change="aseguradora.set()" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Comision</label>
                  <input type="text" ng-model="comisionTercero.current.comision" ui-number-mask="2" min="0" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Agregar" ng-click="comisionTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="comisionTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix"></div>
            <div class="form-group col-sm-12">
               <div class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr></tr>
                        <th></th>
                        <th>Aseguradora</th>
                        <th>Comision</th>
                     </thead>
                     <tbody>
                        <tr ng-repeat="comision in comisionTercero.data | filter: filtroComisionTercero | orderBy: 'nombreAseguradora'">
                           <td class="wd-xxs">
                              <button ng-click="comisionTercero.edit(comision)" class="btn btn-xs btn-primary">
                                 <span class="fa fa-pencil-square-o"></span>
                              </button>
                           </td>
                           <td>{{comision.nombreAseguradora}}</td>
                           <td>{{comision.comision}}</td>
                           <td>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="comisionTercero.delete(comision)" class="icon-trash mr text-danger"></em>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab>
         <tab-heading>Datos Bancarios</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Banco</label>
                  <select ng-model="bancos.current" ng-options="item.descripcion for item in bancos.data" ng-selected="bancos.current.value==cuentaTercero.current.banco" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo Cuenta</label>
                  <select ng-model="tiposCuenta.current" ng-options="item.descripcion for item in tiposCuenta.data" ng-selected="tiposCuenta.current.value==cuentaTercero.current.tipoCuenta" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Número</label>
                  <input ng-model="cuentaTercero.current.numero" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Cédula</label>
                  <input ng-model="cuentaTercero.current.cedula" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Descripcion</label>
                  <input ng-model="cuentaTercero.current.descripcion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Activa</label>
                  <input type="checkbox" ng-model="cuentaTercero.current.activo" ng-true-value="true" ng-false-value="false" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Guardar" ng-click="cuentaTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="cuentaTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="form-group col-sm-12">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Descripción</th>
                              <th>Cédula</th>
                              <th>Cuenta</th>
                              <th>Tipo</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="cuenta in cuentaTercero.data | filter: filtroReferidoTercero | orderBy: 'Descripcion'">
                              <td class="wd-xxs">
                                 <button ng-click="cuentaTercero.edit(cuenta)" class="btn btn-xs btn-primary">
                                    <span class="fa fa-pencil-square-o"></span>
                                 </button>
                              </td>
                              <td>{{cuenta.descripcion}}</td>
                              <td>{{cuenta.cedula}}</td>
                              <td>{{cuenta.numero}}</td>
                              <td>{{cuenta.tipoCuenta}}</td>
                              <td>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="cuentaTercero.delete(cuenta)" class="icon-trash mr text-danger"></em>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </fieldset>
      </tab>
   </tabset>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="tercero.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="tercero.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>

master/jade/views/tercero/tercero_form.jade
.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead CLIENTE
    a.pull-right(type="button", ng-click="tercero.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            .mb-sm.clearfix          
              .col-md-4
                label.control-label Identificación
                input.form-control.input-sm(ng-model='tercero.model.identificacion',ng-maxlength='80')
              .col-md-4
                label.control-label Teléfono
                input.form-control.input-sm(ng-model='tercero.model.telefono', ng-maxlength='80') 
              .col-md-4
                label.control-label Estado
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==tercero.model.estado") 
            .mb-sm.clearfix     
              .col-md-4
                label.control-label Email
                input.form-control.input-sm(ng-model='tercero.model.email', ng-maxlength='300')           
              .col-md-4
                label.control-label Móvil
                input.form-control.input-sm(ng-model='tercero.model.movil', ng-maxlength='80')     
              .col-md-4
                label.control-label Tipo
                select.form-control(ng-model="tipos.current", ng-options="item.descripcion for item in tipos.data", ng-selected="tipos.current.value==tercero.model.tipo")   
             .mb-sm.clearfix          
              .col-md-4
                label.control-label Sitio Web
                input.form-control.input-sm(ng-model='tercero.model.sitioWeb',ng-maxlength='80',ng-pattern='identificacion') 
              .col-md-4
                label.control-label Fax
                input.form-control.input-sm(ng-model='tercero.model.fax', ng-maxlength='80') 
              .col-md-4
                label.control-label Tipo Empresas
                select.form-control(ng-model="tipoEmpresas.current", ng-options="item.descripcion for item in tipoEmpresas.data", ng-selected="tipoEmpresas.current.value==tercero.model.tipoEmpresa") 
            .mb-sm.clearfix 
              .col-md-8
                label.control-label Nombre
                input.form-control.input-sm(ng-model='tercero.model.nombre', ng-maxlength='80')
              .col-md-4
                label.control-label Moneda
                select.form-control(ng-model="monedas.current", ng-options="item.descripcion for item in monedas.data", ng-selected="monedas.current.value==tercero.model.moneda") 
            .mb-sm.clearfix 
              .col-md-8
                label.control-label Nombre Comercial
                input.form-control.input-sm(ng-model='tercero.model.nombreComercial', ng-maxlength='80')
              .col-md-4
                label.control-label Clasificación
                select.form-control(ng-model="clasificaciones.current", ng-options="item.descripcion for item in clasificaciones.data", ng-selected="clasificaciones.current.value==tercero.model.clasificacion") 
            .mb-sm.clearfix      
              .col-md-8
                label.control-label Dirección
                textarea.form-control( ng-model="tercero.model.direccion") 
              .col-md-4
                label.control-label Sexo
                select.form-control(ng-model="sexos.current", ng-options="item.descripcion for item in sexos.data", ng-selected="sexos.current.value==tercero.model.sexo") 
            .mb-sm.clearfix  
              .col-md-8
                label.control-label Representante
                input.form-control.input-sm(ng-model='tercero.model.representante', ng-maxlength='80')
              .col-md-4
                label.control-label Comisión
                input.form-control.input-sm(ng-model='tercero.model.comision',ui-number-mask="2", ng-maxlength='5')
      
     tab(ng-show="tercero.model.id!=0")
       tab-heading Contactos  
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Nombre
            input.form-control.input-sm(ng-model='contactoTercero.current.nombre',ng-maxlength='80')
          .col-md-4
            label.control-label Cargo
            input.form-control.input-sm(ng-model='contactoTercero.current.cargo', ng-maxlength='80') 
          .col-md-4
            label.control-label Móvil
            input.form-control.input-sm(ng-model='contactoTercero.current.movil', ng-maxlength='80') 
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Teléfono
            input.form-control.input-sm(ng-model='contactoTercero.current.telefono',ng-maxlength='80')
          .col-md-4
            label.control-label Email
            input.form-control.input-sm(ng-model='contactoTercero.current.email', ng-maxlength='80') 
          .col-md-4
            label.control-label Fax
            input.form-control.input-sm(ng-model='contactoTercero.current.fax', ng-maxlength='80') 
        .mb-sm.clearfix 
          .col-md-8
            label.control-label Dirección
            input.form-control.input-sm(ng-model='contactoTercero.current.direccion', ng-maxlength='80')         
           .col-md-4
            label.control-label Usuario
            input.form-control.input-sm(ng-model='contactoTercero.current.usuario', ng-maxlength='80')
        .mb-sm.clearfix      
          .col-md-8
            label.control-label Observación
            textarea.form-control( ng-model="contactoTercero.current.observacion")  
          .col-md-4
            label.control-label Contraseña
            input.form-control.input-sm(ng-model='contactoTercero.current.contrasenia', ng-maxlength='80')
            label.control-label Contraseña Tmp
            input.form-control.input-sm(ng-model='contactoTercero.current.contraseniaTmp', ng-maxlength='80')
        .mb-sm.clearfix          
          .col-md-2
            label.control-label Comisión            
            input(type='checkbox', ng-model='contactoTercero.current.comision', ng-true-value="true", ng-false-value="false")
          .col-md-2
            label.control-label Cotización            
            input(type='checkbox', ng-model='contactoTercero.current.cotizacion', ng-true-value="true", ng-false-value="false")
          .col-md-2
            label.control-label Activo
            input(type='checkbox', ng-model='contactoTercero.current.activo', ng-true-value="true", ng-false-value="false")
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="contactoTercero.save()")
                span Guardar
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="contactoTercero.cancel()")
                span Cancelar   
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Nombre
                   th Teléfono
                   th Cargo
                   th Email                       
                 tbody
                   tr(ng-repeat="contacto in contactoTercero.data | filter: filtroContactoTercero | orderBy: 'nombre'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="contactoTercero.edit(contacto)")
                        span.fa.fa-pencil-square-o
                    td {{contacto.nombre}}
                    td {{contacto.telefono}}
                    td {{contacto.cargo}}
                    td {{contacto.email}}
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='contactoTercero.delete(contacto)')       
       
     tab(ng-show="tercero.model.tipoEmpresa=='8'")
       tab-heading Referidos
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix        
        .mb-sm.clearfix          
            .col-md-4
                label.control-label Intermediario
                input.form-control.input-sm(ng-model='referidoTercero.current.tercero',ng-maxlength='80',disabled)
            .col-md-4
                label.control-label Porcentaje                
                input.form-control.input-sm(type="text", ng-model="referidoTercero.current.porcentaje", ui-number-mask="2", min="0")
            .col-md-4
                 button.btn.btn-primary(type="button", tooltip="Buscar", ng-click="referidoTercero.buscar()")
                    span Buscar   
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Agregar", ng-click="referidoTercero.save()")
                span Guardar  
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="referidoTercero.cancel()")
                span Cancelar 
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Intermediario
                   th Porcentaje

                 tbody
                   tr(ng-repeat="referido in referidoTercero.data | filter: filtroReferidoTercero | orderBy: 'Intermediario'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="referidoTercero.edit(referido)")
                        span.fa.fa-pencil-square-o
                    td {{referido.tercero}}
                    td {{referido.porcentaje}}                    
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='referidoTercero.delete(referido)') 
      tab(ng-show="tercero.model.tipoEmpresa=='8'")
        tab-heading Comisiones
        fieldset.mb-sm.pb-sm 
          .mb-sm.clearfix        
          .mb-sm.clearfix          
              .col-md-4
                  label.control-label Aseguradora                
                  select.form-control(ng-model='aseguradora.current', ng-options="aseg.tercero for aseg in aseguradora.data | orderBy: 'tercero'" , ng-change='aseguradora.set()')
              .col-md-4
                label.control-label Comision                
                input.form-control.input-sm(type="text", ng-model="comisionTercero.current.comision", ui-number-mask="2", min="0")
            
          .mb-sm.clearfix
            .col-md-12.pull-right
              button.btn.btn-primary(type="button", tooltip="Agregar", ng-click="comisionTercero.save()")
                  span Guardar  
              button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="comisionTercero.cancel()")
                  span Cancelar 
          .mb-sm.clearfix  
          .form-group.col-sm-12
              .table-responsive.table-bordered
                table.table.table-hover.wd-wide
                  thead
                    tr
                    th
                    th Aseguradora
                    th Comision

                  tbody
                    tr(ng-repeat="comision in comisionTercero.data | filter: filtroComisionTercero | orderBy: 'nombreAseguradora'")
                      td.wd-xxs
                        button.btn.btn-xs.btn-primary(ng-click="comisionTercero.edit(comision)")
                          span.fa.fa-pencil-square-o
                      td {{comision.nombreAseguradora}}
                      td {{comision.comision}}                    
                      td
                        em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='comisionTercero.delete(comision)') 
      tab
       tab-heading Datos Bancarios
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix        
        .mb-sm.clearfix          
            .col-md-4
              label.control-label Banco
              select.form-control(ng-model="bancos.current", ng-options="item.descripcion for item in bancos.data", ng-selected="bancos.current.value==cuentaTercero.current.banco") 
            .col-md-4
              label.control-label Tipo Cuenta
              select.form-control(ng-model="tiposCuenta.current", ng-options="item.descripcion for item in tiposCuenta.data", ng-selected="tiposCuenta.current.value==cuentaTercero.current.tipoCuenta") 
            .col-md-4
              label.control-label Número
              input.form-control.input-sm(ng-model='cuentaTercero.current.numero', ng-maxlength='80') 
          .mb-sm.clearfix          
            .col-md-4
              label.control-label Cédula
              input.form-control.input-sm(ng-model='cuentaTercero.current.cedula',ng-maxlength='80')
            .col-md-4
              label.control-label Descripcion
              input.form-control.input-sm(ng-model='cuentaTercero.current.descripcion', ng-maxlength='80') 
            .col-md-4
              label.control-label Activa
              input(type='checkbox', ng-model='cuentaTercero.current.activo', ng-true-value="true", ng-false-value="false")        
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="cuentaTercero.save()")
                span Guardar
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="cuentaTercero.cancel()")
                span Cancelar 
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Descripción
                   th Cédula
                   th Cuenta      
                   th Tipo                   

                 tbody
                   tr(ng-repeat="cuenta in cuentaTercero.data | filter: filtroReferidoTercero | orderBy: 'Descripcion'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="cuentaTercero.edit(cuenta)")
                        span.fa.fa-pencil-square-o
                    td {{cuenta.descripcion}}
                    td {{cuenta.cedula}}
                    td {{cuenta.numero}}  
                    td {{cuenta.tipoCuenta}}                    
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='cuentaTercero.delete(cuenta)') 
            
        
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="tercero.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="tercero.close()")
    span CANCELAR
