app/views/factura/factura_list.html
<h3>Facturas
   <small></small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="facturas.filter()" ng-model="facturas.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="facturas.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>ESTADO</th>
                     <th>AG</th>
                     <th>CODIGO</th>
                     <th>CLIENTE</th>
                     <th>FECHA</th>
                     <th>PRIORIDAD</th>
                     <th>PROPIETARIO</th>
                     <th>INTERMEDIARIO</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="8" ng-show="facturas.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="8" ng-show="facturas.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in facturas.data" ng-class="{true: 'active'}[item.check]">
                     <td>
                        <span ng-if="item.colorPrioridad == VERDE" class="label label-success">En Proceso</span>
                        <span ng-if="item.colorPrioridad == AMARILLO" class="label label-warning">En Alerta</span>
                        <span ng-if="item.colorPrioridad == ROJO" class="label label-danger">Vencido</span>
                     </td>
                     <td>{{ item.cantidadAgendas }}</td>
                     <td>{{ item.consecutivo }}</td>
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.nombrePrioridad }}</td>
                     <td>{{ item.propietario }}</td>
                     <td>{{ item.nombreIntermediario }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Ver.." tooltip-placement="bottom" ng-click="facturas.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="facturas.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="facturas.paginations.totalItems" ng-model="facturas.paginations.currentPage" max-size="facturas.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="facturas.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="facturas.paginations.numPages" ng-change="facturas.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>

master/jade/views/factura/factura_list.jade
h3 Facturas
  small 
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='facturas.filter()' ng-model='facturas.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='facturas.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}     
    .panel-body.p0
    
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th ESTADO 
              th AG 
              th CODIGO  
              th CLIENTE    
              th FECHA                   
              th PRIORIDAD  
              th PROPIETARIO  
              th INTERMEDIARIO                
          tbody
            td.height-lg(colspan="8", ng-show="facturas.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="facturas.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in facturas.data", ng-class="{true: 'active'}[item.check]")
              td   
               span.label.label-success(ng-if="item.colorPrioridad == VERDE") En Proceso
               span.label.label-warning(ng-if="item.colorPrioridad == AMARILLO") En Alerta
               span.label.label-danger(ng-if="item.colorPrioridad == ROJO") Vencido
              td {{ item.cantidadAgendas }} 
              td {{ item.consecutivo }}
              td {{ item.tercero }}      
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.nombrePrioridad }}   
              td {{ item.propietario }}  
              td {{ item.nombreIntermediario }}                
                           
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Ver..", tooltip-placement='bottom', ng-click='facturas.edit(item)')
                    
    .row
      .col-lg-12(ng-hide='facturas.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='facturas.paginations.totalItems',ng-model='facturas.paginations.currentPage',max-size='facturas.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='facturas.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='facturas.paginations.numPages', ng-change='facturas.changePage()', first-text="«", last-text="»")
