master/jade/views/factura/factura_form.jade
.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead FACTURA {{factura.model.id!=0?factura.model.id:""}}
    a.pull-right(type="button", ng-click="factura.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            .mb-sm.clearfix  
                .col-md-4
                    label.control-label Identificación
                    input.form-control.input-sm(ng-model='factura.model.identificacion', ng-maxlength='80')                    
                .col-md-4
                    label.control-label Razon Social
                    input.form-control.input-sm(ng-model='factura.model.tercero', ng-maxlength='80')
                .col-md-4
                    label.control-label Móvil
                    input.form-control.input-sm(ng-model='factura.model.movil', ng-maxlength='80')               
                                      
             .mb-sm.clearfix             
                .col-md-8
                    label.control-label Dirección
                    input.form-control.input-sm(ng-model='factura.model.direccion', ng-maxlength='80') 
                .col-md-4
                    label.control-label Email
                    input.form-control.input-sm(ng-model='factura.model.email', ng-maxlength='300')                             
             .mb-sm.clearfix             
                .col-md-12
                     label.control-label Observaciones
                     textarea.form-control( ng-model="factura.model.observaciones")                           
             .mb-sm.clearfix             
                .col-md-4
                    label.control-label Intermediario
                    ui-select(ng-model='intermediarios.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Intermediario') {{$select.selected.intermediario}}
                      ui-select-choices(repeat="m in intermediarios.data | propsFilter: {intermediario: $select.search, identificacion: $select.search} | orderBy: ['intermediario', 'identificacion']")
                        div(ng-bind-html='m.intermediario | highlight: $select.search')                        
                        small {{m.identificacion}} 
                .col-md-4
                    label.control-label Entrega                
                    select.form-control(ng-model="entregas.current", ng-options="item.descripcion for item in entregas.data", ng-selected="entregas.current.value==factura.model.entregaId")             
             .mb-sm.clearfix             
                 .col-md-4
                    label.control-label Grupo              
                    select.form-control(ng-model="grupos.current", ng-options="item.descripcion for item in grupos.data", ng-selected="grupos.current.value==factura.model.grupoId")          
                 .col-md-4
                    label.control-label Prioridad                
                    select.form-control(ng-model="prioridades.current", ng-options="item.descripcion for item in prioridades.data", ng-selected="prioridades.current.value==factura.model.prioridadId")   
     tab
       tab-heading Polizas
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix  
            .mb-sm.clearfix 
                    .col-md-3
                        label.control-label Fecha Inicial
                        input.form-control.input-sm(ng-model='factura.model.fechaInicio', ng-maxlength='300',type='date')   
                    .col-md-3
                        label.control-label Fecha Final
                        input.form-control.input-sm(ng-model='factura.model.fechaFin', ng-maxlength='300',type='date')
            .mb-sm.clearfix   
                .table-responsive.table-bordered(style='overflow-y: scroll; height:200px;')
                          table.table.table-hover.wd-wide
                           thead
                            tr
                             td Poliza
                             td Cantidad
                             td Cop
                             td Usd                             
                             td Comentario   
                             td                              
                           tbody
                            tr( ng-repeat="p in factura.model.polizas ")
                             td {{p.nombre}} 
                             td {{p.cantidadPasajeros}}  
                             td {{p.precioCop | number}}                             
                             td 
                              input.form-control.input-sm(type="text", ng-model="p.precio", ui-number-mask="2", min="0")                           
                             td
                              input.form-control.input-sm(type="text", ng-model="p.comentario")
                             td                              
                              em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='factura.deletePoliza(p)')
     tab
        tab-heading Pasajeros
        fieldset.mb-sm.pb-sm 
          .mb-sm.clearfix    
            .row
                .col-md-12
                    div.mb-sm.clearfix       
                      label.control-label Polizas
                        select.form-control( ng-options="item.nombre for item in factura.model.polizas", ng-model="polizaSeleccionada",ng-change='factura.selectPoliza(polizaSeleccionada)')              
                    div.mb-sm.clearfix
                      button.btn.btn-sm.btn-primary(type='button',  tooltip='Buscar pasajero', ng-click='factura.buscarPasajero()')
                              span Buscar
        .mb-sm.clearfix          
            .table-responsive.table-bordered(style='overflow-y: scroll; height:200px;')
                              table.table.table-hover.wd-wide
                               thead
                                tr
                                 td Nombre/Apellido
                                 td Identificación
                                 td Fecha Nacimiento  
                                 td Ciudad Destino  
                                 td Poliza  

                               tbody
                                tr( ng-repeat="p in factura.pasajeros ")
                                 td {{p.nombre+' '+p.apellido}} 
                                 td {{p.identificacion}}
                                 td {{p.fechaNacimiento |  date:'MM/dd/yyyy':'gmt'}}
                                 td {{p.ciudadDestino}}      
                                 td
                                  input.form-control.input-sm(type="text", ng-model="p.poliza")
                        
     tab
        tab-heading Condiciones
        fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
          .col-md-4
                label.control-label Moneda                
                select.form-control(ng-model="monedas.current", ng-options="item.descripcion for item in monedas.data", ng-selected="moneda.current.value==factura.model.monedaId") 
              .col-md-4
                label.control-label Forma Pago                
                select.form-control(ng-model="formasPago.current", ng-options="item.descripcion for item in formasPago.data", ng-selected="formasPago.current.value==factura.model.formaPagoId") 
     tab
       tab-heading Info Entrega
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
          .col-md-4
                label.control-label Ciudad                
                select.form-control(ng-model="ciudades.current", ng-options="item.descripcion for item in ciudades.data", ng-selected="ciudades.current.value==factura.model.ciudadEntregaId") 
          .col-md-4
                label.control-label Fecha                                
                input.form-control.input-sm(ng-model='factura.model.fechaEntrega', ng-maxlength='300',type='date')
        .mb-sm.clearfix   
          .col-md-8
                label.control-label Direccion                
                input.form-control.input-sm(ng-model='factura.model.direccionEntrega', ng-maxlength='80') 
        .mb-sm.clearfix             
          .col-md-12
                 label.control-label Observaciones
                 textarea.form-control( ng-model="factura.model.observacionEntrega")  

 
        
.modal-footer
  
                
  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimiento', ng-click='factura.seguimiento()',ng-show="false")
    span ...      
  button.btn.btn-sm.btn-default(type='button',  tooltip='Adjuntos', ng-click='factura.uploadFile()',ng-show="btnAnular")
    span ADJUNTOS
  button.btn.btn-sm.btn-warning(type='button',  tooltip='Seguimiento', ng-click='factura.verSeguimientoHistorico()',ng-show="false")
    span H 
  button.btn.btn-sm.btn-default(type='button',  tooltip='Imprimir', ng-click='factura.imprimir()',ng-show="btnAnular")
    span IMPRIMIR   
  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='factura.agenda()',ng-show="btnAnular")
    span AGENDAS 
  button.btn.btn-danger(type="button", tooltip="Anular", ng-click="factura.anular()",ng-show="btnAnular")
    span ANULAR
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="factura.save()",ng-show="btnModificar")
    span GUARDAR

app/views/factura/factura_form.html
<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">FACTURA {{factura.model.id!=0?factura.model.id:""}}
         <a type="button" ng-click="factura.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
         <br/>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <tabset justified="true" class="bg-white p0">
      <tab>
         <tab-heading>Información</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Identificación</label>
                  <input ng-model="factura.model.identificacion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Razon Social</label>
                  <input ng-model="factura.model.tercero" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="factura.model.movil" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Dirección</label>
                  <input ng-model="factura.model.direccion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="factura.model.email" ng-maxlength="300" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12">
                  <label class="control-label">Observaciones</label>
                  <textarea ng-model="factura.model.observaciones" class="form-control"></textarea>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Intermediario</label>
                  <ui-select ng-model="intermediarios.current" theme="bootstrap">
                     <ui-select-match placeholder="Seleccione Intermediario">{{$select.selected.intermediario}}</ui-select-match>
                     <ui-select-choices repeat="m in intermediarios.data | propsFilter: {intermediario: $select.search, identificacion: $select.search} | orderBy: ['intermediario', 'identificacion']">
                        <div ng-bind-html="m.intermediario | highlight: $select.search"></div>
                        <small>{{m.identificacion}}</small>
                     </ui-select-choices>
                  </ui-select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Entrega</label>
                  <select ng-model="entregas.current" ng-options="item.descripcion for item in entregas.data" ng-selected="entregas.current.value==factura.model.entregaId" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Grupo</label>
                  <select ng-model="grupos.current" ng-options="item.descripcion for item in grupos.data" ng-selected="grupos.current.value==factura.model.grupoId" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Prioridad</label>
                  <select ng-model="prioridades.current" ng-options="item.descripcion for item in prioridades.data" ng-selected="prioridades.current.value==factura.model.prioridadId" class="form-control"></select>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab>
         <tab-heading>Polizas</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-3">
                  <label class="control-label">Fecha Inicial</label>
                  <input ng-model="factura.model.fechaInicio" ng-maxlength="300" type="date" class="form-control input-sm" />
               </div>
               <div class="col-md-3">
                  <label class="control-label">Fecha Final</label>
                  <input ng-model="factura.model.fechaFin" ng-maxlength="300" type="date" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div style="overflow-y: scroll; height:200px;" class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <td>Poliza</td>
                           <td>Cantidad</td>
                           <td>Cop</td>
                           <td>Usd</td>
                           <td>Comentario</td>
                           <td></td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="p in factura.model.polizas ">
                           <td>{{p.nombre}}</td>
                           <td>{{p.cantidadPasajeros}}</td>
                           <td>{{p.precioCop | number}}</td>
                           <td>
                              <input type="text" ng-model="p.precio" ui-number-mask="2" min="0" class="form-control input-sm" />
                           </td>
                           <td>
                              <input type="text" ng-model="p.comentario" class="form-control input-sm" />
                           </td>
                           <td>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="factura.deletePoliza(p)" class="icon-trash mr text-danger"></em>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab>
         <tab-heading>Pasajeros</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mb-sm clearfix">
                        <label class="control-label">Polizas
                           <select ng-options="item.nombre for item in factura.model.polizas" ng-model="polizaSeleccionada" ng-change="factura.selectPoliza(polizaSeleccionada)" class="form-control"></select>
                        </label>
                     </div>
                     <div class="mb-sm clearfix">
                        <button type="button" tooltip="Buscar pasajero" ng-click="factura.buscarPasajero()" class="btn btn-sm btn-primary">
                           <span>Buscar</span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </fieldset>
         <div class="mb-sm clearfix">
            <div style="overflow-y: scroll; height:200px;" class="table-responsive table-bordered">
               <table class="table table-hover wd-wide">
                  <thead>
                     <tr>
                        <td>Nombre/Apellido</td>
                        <td>Identificación</td>
                        <td>Fecha Nacimiento</td>
                        <td>Ciudad Destino</td>
                        <td>Poliza</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="p in factura.pasajeros ">
                        <td>{{p.nombre+' '+p.apellido}}</td>
                        <td>{{p.identificacion}}</td>
                        <td>{{p.fechaNacimiento | date:'MM/dd/yyyy':'gmt'}}</td>
                        <td>{{p.ciudadDestino}}</td>
                        <td>
                           <input type="text" ng-model="p.poliza" class="form-control input-sm" />
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </tab>
      <tab>
         <tab-heading>Condiciones</tab-heading>
         <fieldset class="mb-sm pb-sm"></fieldset>
         <div class="mb-sm clearfix">
            <div class="col-md-4">
               <label class="control-label">Moneda</label>
               <select ng-model="monedas.current" ng-options="item.descripcion for item in monedas.data" ng-selected="moneda.current.value==factura.model.monedaId" class="form-control"></select>
            </div>
            <div class="col-md-4">
               <label class="control-label">Forma Pago</label>
               <select ng-model="formasPago.current" ng-options="item.descripcion for item in formasPago.data" ng-selected="formasPago.current.value==factura.model.formaPagoId" class="form-control"></select>
            </div>
         </div>
      </tab>
      <tab>
         <tab-heading>Info Entrega</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Ciudad</label>
                  <select ng-model="ciudades.current" ng-options="item.descripcion for item in ciudades.data" ng-selected="ciudades.current.value==factura.model.ciudadEntregaId" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fecha</label>
                  <input ng-model="factura.model.fechaEntrega" ng-maxlength="300" type="date" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Direccion</label>
                  <input ng-model="factura.model.direccionEntrega" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12">
                  <label class="control-label">Observaciones</label>
                  <textarea ng-model="factura.model.observacionEntrega" class="form-control"></textarea>
               </div>
            </div>
         </fieldset>
      </tab>
   </tabset>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Seguimiento" ng-click="factura.seguimiento()" ng-show="false" class="btn btn-sm btn-default">
      <span>...</span>
   </button>
   <button type="button" tooltip="Adjuntos" ng-click="factura.uploadFile()" ng-show="btnAnular" class="btn btn-sm btn-default">
      <span>ADJUNTOS</span>
   </button>
   <button type="button" tooltip="Seguimiento" ng-click="factura.verSeguimientoHistorico()" ng-show="false" class="btn btn-sm btn-warning">
      <span>H</span>
   </button>
   <button type="button" tooltip="Imprimir" ng-click="factura.imprimir()" ng-show="btnAnular" class="btn btn-sm btn-default">
      <span>IMPRIMIR</span>
   </button>
   <button type="button" tooltip="Agendas" ng-click="factura.agenda()" ng-show="btnAnular" class="btn btn-sm btn-default">
      <span>AGENDAS</span>
   </button>
   <button type="button" tooltip="Anular" ng-click="factura.anular()" ng-show="btnAnular" class="btn btn-danger">
      <span>ANULAR</span>
   </button>
   <button type="button" tooltip="Guardar" ng-click="factura.save()" ng-show="btnModificar" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
</div>
